<%- include header %>
<div class="post">
  <div class="post-meta info text-muted">
    <span>作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
    <span>日期：<%= post.time.minute %></span>
    <% if (post.tags && post.tags.length) { %>
      <span>标签：<% post.tags.forEach(function (tag) { %><a href="/tag/<%= tag %>"><%= tag %></a> <% }) %></span>
    <% } %>
    <hr>
    <span>阅读：<%= post.pv || 0 %></span>
    <span>评论：<%= post.comments && post.comments.length || 0 %></span>
    <span>转载：<%= post.reprint_info && post.reprint_info.reprint_to && post.reprint_info.reprint_to.length || 0 %></span>
  </div>
  <div class="post-body markdown-post">
    <%- post.post %>

    <% var oriPost %>
    <% if (post.reprint_info && (oriPost = post.reprint_info.reprint_from)) { %>
      <div class="post-origin info">
        原文：「<a href="/p/<%= oriPost._id %>"><%= oriPost.title %></a>」 - <a href="/u/<%= oriPost.name %>"><%= oriPost.name %></a> <span class="text-muted"><%= oriPost.time.minute %></span></a>
      </div>
    <% } %>
  </div>

  <% if (user && user.name === post.name) { %>
    <div class="options text-center">
      <div class="btn-group">
        <a href="/edit/<%= post._id %>" class="btn btn-xs btn-default">编辑</a>
        <a href="/remove/<%= post._id %>" class="btn btn-xs btn-default">删除</a>
      </div>
    </div>
  <% } %>

  <% var reprintable = 1 %>
  <!-- 已登录且非本文作者 -->
  <% if (user && (user.name !== post.name)) { %>
    <!-- 如果此文章为转载文章，当前用户是原文作者 -->
    <% if (post.reprint_info && post.reprint_info.reprint_from && user.name === post.reprint_info.reprint_from.name) { %>
      <% reprintable = 0 %>
    <% } %>
    <!-- 如果此文已被当前用户转载过 -->
    <% if (post.reprint_info && post.reprint_info.reprint_to) { %>
      <% post.reprint_info.reprint_to.forEach(function (reprint_to) { %>
        <% if (user.name === reprint_to.name) { %>
          <% reprintable = 0 %>
        <% }  %>
      <% }) %>
    <% } %>
  <!-- 没有登录或是本文作者 -->
  <% } else { %>
    <% reprintable = 0 %>
  <% } %>
  <% if (reprintable) { %>
    <div class="options text-center">
      <div class="btn-group">
        <a href="/reprint/<%= post._id %>" class="btn btn-xs btn-default">转载</a>
      </div>
    </div>
  <% } %>

</div>
<%- include comment %>
<%- include footer %>