<%- include header %>
<% posts.forEach(function (post, index) { %>
  <div class="post">
    <h2 class="text-center"><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
    <div class="info text-muted text-center">
      <span>作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
      &middot; <span>日期：<%= post.time.minute %></span>
      <% if (post.tags && post.tags.length) { %>
        &middot; <span>标签：
          <% post.tags.forEach(function (tag) { %>
            <a href="/tag/<%= tag %>"><%= tag %></a>
          <% }) %>
        </span>
      <% } %>
      &middot; <span>阅读：<%= post.pv || 0 %></span>
      &middot; <span>评论：<%= post.comments && post.comments.length || 0 %></span>
      &middot; <span>转载：<%= post.reprint_info && post.reprint_info.reprint_to && post.reprint_info.reprint_to.length || 0 %></span>
    </div>
    <!-- <div class="markdown-post"><%- post.post %></div> -->
  </div>
<% }); %>
<%- include pager %>
<%- include footer %>