!!! 5
html(lang='zh')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    link(rel='stylesheet', href='/stylesheets/glyphicon.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/markdown.css')
  body(class=cate || '')
    div.top
      span.flag
    div.container
      //- site header
      header.header
        block page-header
      //- navigation
      nav.nav
        mixin navitem(url, text, icon)
          a(href=url title=text)
            i.glyphicon.pull-right(class='glyphicon-' + icon)
            b= text
        +navitem('/', '主页', 'home')
        //- +navitem('/search', '搜索', 'search')
        //- +navitem('/about', '关于', 'user')
        span.sep
        if user
          +navitem('/compose', '发表', 'plus-sign')
          +navitem('/logout', '退出', 'log-out')
        //- else
          +navitem('/login', '登陆', 'log-in')
          +navitem('/reg', '注册', 'user')
      //- article
      article.content
        if success
          div.alert.alert-success
            button.close(type='button', data-dismiss='alert') &times;
            = success
        if error
          div.alert.alert-block.alert-danger
            button.close(type='button', data-dismiss='alert') &times;
            = error
        block content
      //- site footer
      footer.footer.text-center
        p
          | &copy; 2013 Couchist.
          i.foot-logo