extends layout.pug
block page-header
  h1= title
block content
  .article
    .post
      .post-meta.small.text-muted
        span.post-author: a(href='/u/' + post.name)= post.name
        span.post-time= post.time.minute
        if post.tags && post.tags.length
          span.post-tags
            each tag in post.tags
              a(href='/tag/' + tag)= tag
        span 阅读：#{post.pv || 0}
        span 评论：#{post.comments && post.comments.length || 0}
        span 转载：#{post.reprint && post.reprint.to && post.reprint.to.length || 0}
        if user && user.name === post.name
          .post-options
            .btn-group
              a.btn.btn-xs.btn-default(href='/edit/' + post._id) 编辑
              a.btn.btn-xs.btn-default(href='/remove/' + post._id) 删除

      .post-body.markdown-post
        != post.content
      
      - var oriPost
      if post.reprint && (oriPost = post.reprint.from)
        .post-origin.info.
          原文：
          a(href=`/p/${oriPost._id}`) #{oriPost.title}
          -
          a(href=`/u/${oriPost.name}`) #{oriPost.name}
          span.text-muted #{oriPost.time.minute}
      
      - var reprintable = 1
      if user && user.name !== post.name
        if post.reprint && post.reprint.from && user.name === post.reprint.from.name
          - reprintable = 0
        if post.reprint && post.reprint.to
          each to in post.reprint.to
            if user.name === to.name
              - reprintable = 0
      else
        - reprintable = 0
      
      if reprintable === 1
        .options.text-center
          .btn-group
            a.btn.btn-xs.btn-default(href=`/reprint/${post._id}`) 转载
  include comment.pug
