include mixins.pug
doctype html
html(lang=`zh`)
  head
    block head
      meta(charset=`UTF-8`)
      meta(name=`viewport`, content=`width=device-width,initial-scale=1.0,user-scalable=no`)
      title= `${title}`
      link(rel=`stylesheet`, href=`/stylesheets/style.css`, media=`screen`)
  body
    block body
      .container
        header.header
          block page-header
        nav.nav
          +navitem(`/`, `主页`, `home`)(class=`space-right`)
          if user
            +navitem(`/u/${user.name}`, `${user.name}`, `user`)
            +navitem(`/compose`, `发表`, `plus-sign`)
            +navitem(`/logout`, `退出`, `log-out`)
          else
            +navitem(`/login`, `登陆`, `log-in`)
            +navitem(`/reg`, `注册`, `user`)
        article.content
          block content
        aside.side
          block aside
        footer.footer.text-center
          p
            != `&copy; `
            = `2013-2017 WLBXUX.`
            i.foot-logo
      if success
        .alert.alert-success
          button.close(type=`button`, data-dismiss=`alert`)= `&times;`
          = `${success}`
      if error
        .alert.alert-block.alert-danger
          button.close(type=`button`, data-dismiss=`alert`)= `&times;`
          = `${error}`
