.post-list
  each post in posts
    section.post
      header
        h2.post-title
          a(href=`/p/${post._id}`)= `${post.title}`
        .post-meta.small.text-muted.inline-container
          span.post-author
            = `${post.name}`
          span.post-time
            +toDate(post.ctime, `YYYY 年 MM 月 DD 日`)
      .post-body.markdown-post
        != `${post.summary || post.content}`
      footer
        .post-meta.small.text-muted.clearfix.inline-container
          span.post-tags.fl
            if post.tags && post.tags.length
              each tag in post.tags
                a(href=`/tag/${tag}`)= `${tag}`
            else
              = `&nbsp;`
          a.keepOnReading.fr(href=`/p/${post.id}`)= `继续阅读`
include pager.pug
